footer
  .container.text-center
    p.float-left © 2018 SAFETYAID, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='#') GitHub Project
      li.list-inline-item
        a(href='#') Issues
